<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-wid th, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/bb4291841a.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <!-- LOGO MERCADO LOGO MERCADO LOGO MERCADO -->
<section class="flex-logo-search">
    <a href="home">
        <img class="logo" src="/img/logo-mercado-liebre.svg" alt="Logo Mecardo Liebre">
    </a>
        <!--Barra de búsqueda-->
    <section class="input-buscador">
        <input type="text" placeholder="Busca tus productos"> <i class="fa-solid fa-magnifying-glass"></i>
    </section>
        <!--título solo tablet y desktop-->
    <section class="clase-centrar">
        <i class="fa-solid fa-hand-holding-dollar"></i> 
        <p>Compra en cuotas y sin tarjeta</p>
    </section>
</section>

         <!--Titulo centrado-->
<section class="clase-centrar">
    <i class="fa-solid fa-hand-holding-dollar"></i> 
    <p>Compra en cuotas y sin tarjeta</p>
</section>

        <!--Menú-->
<nav>
    <ul class="listas">
        <li><a href="">Ofertas</a> </li>
        <li><a href="">Tiendas Oficiales</a></li>
        <li><a href="">Vender</a></li>
         <li><a href="">Ayuda</a></li> 
    </ul>
    <ul class="listas">
        <li><a href="register">Creá tu cuenta</a> <i class="fa-regular fa-address-card"></i> </li>
        <li><a href="login">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i> </li>
        <li><a href="">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>  
    </ul>

    <section class="ordenar-menu">
        <div class="menu">
            <i class="fa-solid fa-bars fa-xl"></i>
        </div>
    </section>

</nav>
</header>
    <main>
        <section class="clase-register">
            <h3 class="titulo-registro-login">Crea tu cuenta Mercado Liebre</h3>
            <form action="" method="">
            <input type="text" name="nombre" placeholder="Ingresa tu nombre y apellido">
            <input type="text" name="nombre-usuario" placeholder="Ingresa tu nombre de usuario">
            <p>Ingresa la fecha de tu nacimiento</p>
            <input type="date" name="nacimiento" id="nacimiento" placeholder="Seleccioa tu fecha de nacimiento">
            <input type="text" name="domicilio" placeholder="Ingresa tu domicilio">
            
            <p>Perfil de usuario</p>
            <input type="radio" name="rol" id="comprador" value="compra"> <label for="comprador">Comprador</label>
            <input type="radio" name="rol" id="vendedor"> <label for="vendedor">Vendedor</label>
            
            <p>Selecciona las categorias de interés:</p>
            <input type="checkbox" name="electro" id=" electro"><label for="electro">Electrodomesticos</label>
            <input type="checkbox" name="moda" id="moda"><label for="moda">Moda</label>
            <input type="checkbox" name="hogar" id="hogar"><label for="hogar">Hogar</label>
            <input type="checkbox" name="jugueteria" id="jugueteria"><label for="jugueteria">Jugueteria</label>
            <input type="checkbox" name="vidasana" id="vidasana"><label for="vidasana">Vida Sana</label>

            <div class="">
                <button class="boton-enviar" type="submit">Enviar</button>
            </div>
            <div class="">
                <button class="boton-borrar" type="reset">Borrar</button>
            </div>

        </form>
        </section> 
    </main>
    <footer>
        <article class="animando-footer">
            <section class="clase-footer">
                <i class="fa-solid fa-credit-card fa-2xl"> </i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>
        
            <section class="clase-footer">
                <i class="fa-solid fa-gift fa-2xl"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>
        
            <section class="clase-footer">
                <i class="fa-solid fa-user-shield fa-2xl"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>
        </article>
        
        <h4>Copyright © 1999-2023 MercadoLiebre S.R.L.</h4>
    
    </footer>
</body>
</html>